recurrent-start-stop-vms/azuredeploy.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "defaultValue": "recurrent-start-stop-vms-la",
      "metadata": {
        "description": "The name of the logic app to create."
      }
    },
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "metadata": {
        "description": "Location for all resources."
      }
    },
    "startTime": {
      "type": "int",
      "defaultValue": 7,
      "allowedValues": [
        0,
        1,
        2,
        3,
        4,
        5,
        6,
        7,
        8,
        9,
        10,
        11
      ],
      "metadata": {
        "description": "Specify exact hour of the morning to start VMs."
      }
    },
    "stopTime": {
      "type": "int",
      "defaultValue": 19,
      "allowedValues": [
        12,
        13,
        14,
        15,
        16,
        17,
        18,
        19,
        20,
        21,
        22,
        23
      ],
      "metadata": {
        "description": "Specify exact hour of the evening to stop VMs."
      }
    },
    "atMinute": {
      "type": "int",
      "defaultValue": 0,
      "minValue": 0,
      "maxValue": 59,
      "metadata": {
        "description": "Specify exact minute of the Hour to start/stop VMs. Defaults to 0. E.g. If set to 30 it will start at 7:30 and stop at 19:30 each weekday."
      }
    },
    "timeZone": {
      "type": "string",
      "defaultValue": "Central Standard Time",
      "allowedValues": [
        "Dateline Standard Time",
        "UTC-11",
        "Aleutian Standard Time",
        "Hawaiian Standard Time",
        "Marquesas Standard Time",
        "Alaskan Standard Time",
        "UTC-09",
        "Pacific Standard Time (Mexico)",
        "UTC-08",
        "Pacific Standard Time",
        "US Mountain Standard Time",
        "Mountain Standard Time (Mexico)",
        "Mountain Standard Time",
        "Yukon Standard Time",
        "Central America Standard Time",
        "Central Standard Time",
        "Easter Island Standard Time",
        "Central Standard Time (Mexico)",
        "Canada Central Standard Time",
        "SA Pacific Standard Time",
        "Eastern Standard Time (Mexico)",
        "Eastern Standard Time",
        "Haiti Standard Time",
        "Cuba Standard Time",
        "US Eastern Standard Time",
        "Turks And Caicos Standard Time",
        "Paraguay Standard Time",
        "Atlantic Standard Time",
        "Venezuela Standard Time",
        "Central Brazilian Standard Time",
        "SA Western Standard Time",
        "Pacific SA Standard Time",
        "Newfoundland Standard Time",
        "Tocantins Standard Time",
        "E. South America Standard Time",
        "SA Eastern Standard Time",
        "Argentina Standard Time",
        "Greenland Standard Time",
        "Montevideo Standard Time",
        "Magallanes Standard Time",
        "Saint Pierre Standard Time",
        "Bahia Standard Time",
        "UTC-02",
        "Mid-Atlantic Standard Time",
        "Azores Standard Time",
        "Cape Verde Standard Time",
        "UTC",
        "GMT Standard Time",
        "Greenwich Standard Time",
        "Sao Tome Standard Time",
        "Morocco Standard Time",
        "W. Europe Standard Time",
        "Central Europe Standard Time",
        "Romance Standard Time",
        "Central European Standard Time",
        "W. Central Africa Standard Time",
        "Jordan Standard Time",
        "GTB Standard Time",
        "Middle East Standard Time",
        "Egypt Standard Time",
        "E. Europe Standard Time",
        "Syria Standard Time",
        "West Bank Standard Time",
        "South Africa Standard Time",
        "FLE Standard Time",
        "Israel Standard Time",
        "Kaliningrad Standard Time",
        "Sudan Standard Time",
        "Libya Standard Time",
        "Namibia Standard Time",
        "Arabic Standard Time",
        "Turkey Standard Time",
        "Arab Standard Time",
        "Belarus Standard Time",
        "Russian Standard Time",
        "E. Africa Standard Time",
        "Iran Standard Time",
        "Arabian Standard Time",
        "Astrakhan Standard Time",
        "Azerbaijan Standard Time",
        "Russia Time Zone 3",
        "Mauritius Standard Time",
        "Saratov Standard Time",
        "Georgian Standard Time",
        "Volgograd Standard Time",
        "Caucasus Standard Time",
        "Afghanistan Standard Time",
        "West Asia Standard Time",
        "Ekaterinburg Standard Time",
        "Pakistan Standard Time",
        "Qyzylorda Standard Time",
        "India Standard Time",
        "Sri Lanka Standard Time",
        "Nepal Standard Time",
        "Central Asia Standard Time",
        "Bangladesh Standard Time",
        "Omsk Standard Time",
        "Myanmar Standard Time",
        "SE Asia Standard Time",
        "Altai Standard Time",
        "W. Mongolia Standard Time",
        "North Asia Standard Time",
        "N. Central Asia Standard Time",
        "Tomsk Standard Time",
        "China Standard Time",
        "North Asia East Standard Time",
        "Singapore Standard Time",
        "W. Australia Standard Time",
        "Taipei Standard Time",
        "Ulaanbaatar Standard Time",
        "Aus Central W. Standard Time",
        "Transbaikal Standard Time",
        "Tokyo Standard Time",
        "North Korea Standard Time",
        "Korea Standard Time",
        "Yakutsk Standard Time",
        "Cen. Australia Standard Time",
        "AUS Central Standard Time",
        "E. Australia Standard Time",
        "AUS Eastern Standard Time",
        "West Pacific Standard Time",
        "Tasmania Standard Time",
        "Vladivostok Standard Time",
        "Lord Howe Standard Time",
        "Bougainville Standard Time",
        "Russia Time Zone 10",
        "Magadan Standard Time",
        "Norfolk Standard Time",
        "Sakhalin Standard Time",
        "Central Pacific Standard Time",
        "Russia Time Zone 11",
        "New Zealand Standard Time",
        "UTC+12",
        "Fiji Standard Time",
        "Kamchatka Standard Time",
        "Chatham Islands Standard Time",
        "UTC+13",
        "Tonga Standard Time",
        "Samoa Standard Time",
        "Line Islands Standard Time"
      ],
      "metadata": {
        "description": "Time Zone for your Logic App recurrant trigger."
      }
    },
    "morningAction": {
      "type": "string",
      "defaultValue": "start",
      "allowedValues": [
        "start",
        "deallocate"
      ],
      "metadata": {
        "description": "Specify the default action for morning ."
      }
    },
    "runOn": {
      "type": "string",
      "defaultValue": "Weekdays",
      "allowedValues": [
        "Weekdays",
        "Weekend",
        "Week"
      ],
      "metadata": {
        "description": "Specify the days to run. Weekdays: Mon-Fri, Weekend: Sat-Sun, Week: Mon-Sun."
      }
    },
    "includeVMSS": {
      "type": "bool",
      "defaultValue": false,
      "metadata": {
        "description": "Specify wether to include VMSS in the start/stop operation."
      }
    },
    "excludedResources": {
      "type": "string",
      "defaultValue": "",
      "metadata": {
        "description": "Specify a comma-separated list of VMs or VMSSs to exclude from the resource group. Ex. VM1,VM2,VMSS1"
      }
    }
  },
  "variables": {
    "singleQuote": "'",
    "roleDefinitionId": "9980e02c-c2be-4d73-94e8-173b1dc7cf3c",
    "recurrenceHours": "[createArray(parameters('startTime'), parameters('stopTime'))]",
    "recurrenceMinutes": "[createArray(parameters('atMinute'))]",
    "eveningAction": "[if(equals(parameters('morningAction'), 'start'), 'deallocate', 'start')]",
    "weekDays": "[if(equals(parameters('runOn'), 'Weekdays'), variables('workweek'), if(equals(parameters('runOn'), 'Weekend'), variables('weekend'), variables('allweek')))]",
    "workweek": [
      "Monday",
      "Tuesday",
      "Wednesday",
      "Thursday",
      "Friday"
    ],
    "weekend": [
      "Saturday",
      "Sunday"
    ],
    "allweek": [
      "Monday",
      "Tuesday",
      "Wednesday",
      "Thursday",
      "Friday",
      "Saturday",
      "Sunday"
    ]
  },
  "resources": [
    {
      "name": "arm",
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "location": "[parameters('location')]",
      "kind": "V1",
      "properties": {
        "api": {
          "id": "[concat(subscription().id,'/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/arm')]"
        },
        "parameterValueType": "Alternative",
        "alternativeParameterValues": {},
        "displayName": "logic-app-identity"
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('logicAppName')]",
      "location": "[parameters('location')]",
      "tags": {
        "displayName": "LogicApp"
      },
      "identity": {
        "type": "SystemAssigned"
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', 'arm')]"
      ],
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "outputs": {},
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            },
            "timeZone": {
              "defaultValue": "[parameters('timeZone')]",
              "type": "String"
            },
            "morningAction": {
              "defaultValue": "[parameters('morningAction')]",
              "type": "String"
            },
            "eveningAction": {
              "defaultValue": "[variables('eveningAction')]",
              "type": "String"
            },
            "includeVMSS": {
              "defaultValue": "[parameters('includeVMSS')]",
              "type": "Bool"
            },
            "excludedResources": {
              "defaultValue": "[parameters('excludedResources')]",
              "type": "String"
            }
          },
          "triggers": {
            "Recurrence": {
              "recurrence": {
                "frequency": "Week",
                "interval": 1,
                "schedule": {
                  "hours": "[variables('recurrenceHours')]",
                  "minutes": "[variables('recurrenceMinutes')]",
                  "weekDays": "[variables('weekDays')]"
                },
                "timeZone": "@parameters('timeZone')"
              },
              "type": "Recurrence"
            }
          },
          "actions": {
            "Variable_to_determine_action:_Start_(AM)_or_Stop_(PM)": {
              "inputs": {
                "variables": [
                  {
                    "name": "action",
                    "type": "string",
                    "value": "@{if(equals(convertFromUtc(utcNow(), parameters('timeZone'), 'tt'), 'AM'), parameters('morningAction'), parameters('eveningAction'))}"
                  }
                ]
              },
              "runAfter": {},
              "type": "InitializeVariable"
            },
            "Excluded_Resources_Array": {
              "inputs": {
                "variables": [
                  {
                    "name": "excludedResourcesArray",
                    "type": "array",
                    "value": "@split(parameters('excludedResources'),',')"
                  }
                ]
              },
              "runAfter": {
                "Variable_to_determine_action:_Start_(AM)_or_Stop_(PM)": [
                  "Succeeded"
                ]
              },
              "type": "InitializeVariable"
            },
            "List_VMs_in_Resource_Group": {
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['arm']['connectionId']"
                  }
                },
                "method": "get",
                "path": "[concat('/subscriptions/@{encodeURIComponent(', variables('singleQuote'), subscription().subscriptionId, variables('singleQuote'), ')}/resourceGroups/@{encodeURIComponent(', variables('singleQuote'), resourceGroup().name, variables('singleQuote'), ')}/resources')]",
                "queries": {
                  "$filter": "resourceType eq 'Microsoft.Compute/virtualMachines'",
                  "x-ms-api-version": "2016-06-01"
                }
              },
              "runAfter": {
                "Variable_to_determine_action:_Start_(AM)_or_Stop_(PM)": [
                  "Succeeded"
                ]
              },
              "type": "ApiConnection"
            },
            "Filter_excluded_VM_resources": {
              "inputs": {
                "from": "@body('List_VMs_in_Resource_Group')?['value']",
                "where": "@not(contains(variables('excludedResourcesArray'), item()?['name']))"
              },
              "runAfter": {
                "List_VMs_in_Resource_Group": [
                  "Succeeded"
                ]
              },
              "type": "Query"
            },
            "For_each_VM": {
              "actions": {
                "Start_or_Stop_VM": {
                  "inputs": {
                    "authentication": {
                      "type": "ManagedServiceIdentity"
                    },
                    "method": "POST",
                    "uri": "@{concat('https://management.azure.com', items('For_each_VM')?['id'], '/', variables('action'), '?api-version=2021-07-01')}"
                  },
                  "runAfter": {},
                  "type": "Http"
                }
              },
              "foreach": "@body('Filter_excluded_VM_resources')",
              "runAfter": {
                "List_VMs_in_Resource_Group": [
                  "Succeeded"
                ]
              },
              "type": "Foreach"
            },
            "IF_VMSS_Included": {
              "actions": {
                "List_VMSSs_in_Resource_Group": {
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['arm']['connectionId']"
                      }
                    },
                    "method": "get",
                    "path": "[concat('/subscriptions/@{encodeURIComponent(', variables('singleQuote'), subscription().subscriptionId, variables('singleQuote'), ')}/resourceGroups/@{encodeURIComponent(', variables('singleQuote'), resourceGroup().name, variables('singleQuote'), ')}/resources')]",
                    "queries": {
                      "$filter": "resourceType eq 'Microsoft.Compute/virtualMachineScaleSets'",
                      "x-ms-api-version": "2016-06-01"
                    }
                  },
                  "runAfter": {
                    "Variable_to_determine_action:_Start_(AM)_or_Stop_(PM)": [
                      "Succeeded"
                    ]
                  },
                  "type": "ApiConnection"
                },
                "Filter_excluded_VMSS_resources": {
                  "inputs": {
                    "from": "@body('List_VMSSs_in_Resource_Group')?['value']",
                    "where": "@not(contains(variables('excludedResourcesArray'), item()?['name']))"
                  },
                  "runAfter": {
                    "List_VMSSs_in_Resource_Group": [
                      "Succeeded"
                    ]
                  },
                  "type": "Query"
                },
                "For_each_VMSS": {
                  "actions": {
                    "Start_or_Stop_VMSS": {
                      "inputs": {
                        "authentication": {
                          "type": "ManagedServiceIdentity"
                        },
                        "method": "POST",
                        "uri": "@{concat('https://management.azure.com', items('For_each_VMSS')?['id'], '/', variables('action'), '?api-version=2021-07-01')}"
                      },
                      "runAfter": {},
                      "type": "Http"
                    }
                  },
                  "foreach": "@body('Filter_excluded_VMSS_resources')",
                  "runAfter": {
                    "List_VMSSs_in_Resource_Group": [
                      "Succeeded"
                    ]
                  },
                  "type": "Foreach"
                }
              },
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@parameters('includeVMSS')",
                      true
                    ]
                  }
                ]
              },
              "runAfter": {
                "Variable_to_determine_action:_Start_(AM)_or_Stop_(PM)": [
                  "Succeeded"
                ]
              },
              "type": "If"
            }
          }
        },
        "parameters": {
          "$connections": {
            "value": {
              "arm": {
                "connectionId": "[concat(resourceGroup().id,'/providers/Microsoft.Web/connections/arm')]",
                "connectionName": "arm",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity"
                  }
                },
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/arm')]"
              }
            }
          }
        }
      }
    },
    {
      "type": "Microsoft.Authorization/roleAssignments",
      "apiVersion": "2020-04-01-preview",
      "name": "[guid(resourceId('Microsoft.Logic/workflows', parameters('logicAppName')), variables('roleDefinitionID'))]",
      "dependsOn": [
        "[resourceId('Microsoft.Logic/workflows', parameters('logicAppName'))]"
      ],
      "properties": {
        "roleDefinitionId": "[resourceId('Microsoft.Authorization/roleDefinitions', variables('roleDefinitionId'))]",
        "scope": "[resourceGroup().id]",
        "principalId": "[reference(resourceId('Microsoft.Logic/workflows', parameters('logicAppName')), '2019-05-01', 'Full').identity.principalId]",
        "principalType": "ServicePrincipal"
      }
    }
  ],
  "outputs": {
    "logicAppIdentity": {
      "type": "string",
      "value": "[reference(resourceId('Microsoft.Logic/workflows', parameters('logicAppName')), '2019-05-01', 'Full').identity.principalId]"
    }
  }
}